@import "../../styles/theme/theme";
.icon_svg {
  display: inline-block;
  vertical-align: baseline;
  width: 66px;
  height: 66px;
  fill: $accent-color
}
.menu_svg_button {
  display: inline-block;
  width: 28px;
  height: 28px;
  fill: $default-color
}
.icon_accent{
  fill: $accent-color
}
.menu_svg_link{
  display: inline-block;
  width: 20px;
  height: 20px;
  fill: $default-color
}
