@import "../../styles/theme/theme";
.icon-svg {
  display: inline-block;
  vertical-align: baseline;
  width: 66px;
  height: 66px;
  fill: $accent-color
}
.menu-svg-button {
  display: inline-block;
  width: 28px;
  height: 28px;
  fill: $default-color
}
.icon-accent{
  fill: $accent-color
}
.menu-svg-link{
  display: inline-block;
  width: 20px;
  height: 20px;
  fill: $default-color
}
