@import '../../styles/theme/theme';

.card-button-buy{
  background-color: $accent-color;
  border-color: $accent-color;
  &:hover{
    background-color: $accent-color;
    border-color: $accent-color;
    opacity: .5;
  }
}
.card-button-details{
  background-color: $accent-color-secondary;
  border-color: $accent-color-secondary;
  &:hover{
    background-color: $accent-color-secondary;
    border-color: $accent-color-secondary;
    opacity: .5;
  }
}