* {
  box-sizing: border-box;
}

html, body, #__next {
  //height: 100%;
 // width: 100%;
}

body {
  //margin: 0;
  //padding: 0;
  //font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //sans-serif;
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  width: 100%;
}
//.col- (очень маленькие устройства - ширина экрана менее 576 пикселей)
//.col-sm- (маленькие устройства - ширина экрана равна или больше 576 пикселей)
//.col-md- (средние устройства - ширина экрана равна или больше 768 пикселей) (width >= 768 && width < 992) return 'tablet'
//.col-lg- (большие устройства - ширина экрана равна или превышает 992 пикселя)
//.col-xl- (устройства xlarge - ширина экрана равна или превышает 1200 пикселей)
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}