@import "../styles/theme/theme";
.main-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  /* display: flex; */
 // margin-top: auto;
  height: 100%;
  /* margin-bottom: auto; */
 // height: calc(100vh - 94px);

  //position: relative;
  //width: 100%;
  //margin-top: auto;
  //margin-bottom: auto;
  //height: 70%;
}
.main-row{
  width: 100%;
  height: 70%;
}
.content-container {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  text-align: center;
  color: $mainFontColor;
  //p {
  //  font-size: $mainFontSize;
  //}
}
//.get-now {
//  top: 189px;
//}
//

@media (max-width: 991px) {
  //.wrapper {
  // height: 100%;
  //}
  //.col-price{
  //  height: 50%;
  //}
  //.col-product{
  //  height: 50%;
  //}
}

