@import "../styles/theme/theme";
.wrapper{
  //position: absolute;
  //top: 94px;
  //height: calc(100% - 94px);
  //width: 100%;

  position: relative;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  height: 70%;
}
.content-container {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  text-align: center;
  color: $mainFontColor;
  //p {
  //  font-size: $mainFontSize;
  //}
}
//.get-now {
//  top: 189px;
//}
//
//@media (min-width: 768px) {
//  .get-now {
//    top: -150px;
//  }
//}

