//@import url('https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css?family=Vibes&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

$viber-font: 'Vibes', cursive;
$lobster-font: 'Lobster', cursive;
$logo-font: 'Share Tech Mono', monospace;
//$test-font: 'Pacifico', sans-serif;
$header-font: 'Raleway', sans-serif;
$core-font: 'Merriweather Sans', sans-serif;

$mainFontColor: #f7fffc;
$mainFontSize: 18px; //use
$largeFontSize: 24px; //use
$mainFontWeight: 400;
$mainLineHeight: 1.4;